body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
img{
    height: auto;
    max-width: 100%;
   
}
.container {
    width: 85%;
    margin: auto;
  }
  #top-header-bg {
    background-color: #d33c0a;
    opacity: 1;
    background-image: radial-gradient(#f5bd6f 0.5px, #d33c0a 0.5px);
    background-size: 10px 10px;
  }
  #top-header-main {
    display: flex;
    align-items: center;
  }
  #header-logo {
    display:flex;
    width: 7.2%;
    flex-basis: .5s;
    margin-top: -5px
  }
  #header-nav {
    padding-left: 10px;
    width: 30%;
  }
  #header-nav ul {
    display: flex;
    padding-top: 21px;
  }
  #header-nav ul li {
    list-style: none;
    margin-right: 20px;
  }
  #header-nav ul a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
  #header-nav ul li a.active, #header-nav ul li a:hover {
    color: #FFFFFF;
  }
  #slogn-right {
    padding-left: 400px;
    margin-top: 10px;
    
  }
  #slogn-right h1 {
    color: #fff9e9;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }
 #inner_2{
    display: flex;
    justify-content: space-between;
 
 }
#img_1 {
    width: 30%;
    margin-top: -50px;
}
#bg-site {
  background-image: url("../IMAGE/WhatsApp-Image-2022-07-21-at-10.06.48-PM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin-top: 80px;
}
#main-site {
  display: flex;
	flex-basis:47%
}
#text-er-1 h1 {
  font-size: 37px;
  color: #000000;
  text-transform: none;
  font-family: "Sofia", Sans-serif;
  margin-bottom: 40px;
}
div#bg-burgar {
  padding-bottom: 50px;
}
#text-er-2 h2 {
  color: #d33c0a;
  text-align: left;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 69px;
  text-shadow: 1px 0px 0px #ffffff;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  font-weight: bolder;
  margin-bottom: 50px;
	width:81%;
}
#site-butn {
  background-color: #d33c0a;
  border-radius: 4px;
  width: 30%;
  text-align: center;
  padding: 15px 3px;
}
#site-butn a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  border-style: none;
  text-align: center;
  width: 40%;
}

#see_all a{
  border: 1px solid;
    background: #d33c0a;
    color: #fff;
    border-style: none;
    padding: 4px 9px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
}
#see_all{
  margin-left: 950px;
  width: 50%;
 
}
#see_all h2{
  color: #d33c0a;
  font-size: 25px;
}
#dishes h1{
font-family: 'Roboto', sans-serif;
font-size: 45px;
width: 220%;
}
#pop_dishes{
  display: flex;
}
#section_4{
  margin-top: 70px;
}
#items{
  border: 1px solid;
    padding: 15px;
    border-radius: 30px;
    border-color: #e5e5e5;
    width: 22%;
 
}
#item_sec{
  display: flex;
  justify-content: space-between;
}
#item_text h1{
font-family: 'Roboto', sans-serif;
font-size: 17px;
    font-weight: bold;
}
#item_text p{
  color: #808080;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#item_rate{
  color: #d33c0a;
   font-size: 17px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}
#menu h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
#items_nam ul{
  display: flex;
 
  justify-content: space-between;
  list-style: none;

}
#items_nam ul li{
  border: 1px solid #808080;
  padding: 8px;
  border-radius: 22px;
}

#items_nam ul li h1 a{
  color: #000000;
  
  font-weight: bold;
  font-size: 18px;
 text-decoration: none;
 font-family: 'Roboto', sans-serif;
}

#section_5{
  margin-top: 200px;
}
#menu{
  margin-bottom: 50px;
}
#item_1{
  border: 1px solid #ececec;
  border-radius: 20px;
  width: 49%;
}
#item_inner{
  display: flex;
    background: #fff9e9;
    border-radius: 20px;
    padding-bottom: 57px;
margin: 15px;

}
#item_box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
 
}
#item_inner2{
  display: flex;
    background: #fff9e9;
    border-radius: 20px;
    padding-bottom: 60px;
    margin: 15px; 
}

#item_img img{
  max-width: 50%;
}
#item_price{
  color: #d33c0a;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  font-weight: bold;
  font-size: 17px;
}
#item_nam h1{
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 5px;
}
#site-butn {
  background-color: #d33c0a;
    font-size: 12px;
    padding: 25px 30px;
    border-radius: 4px;
    color: #fff;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 500px;
    margin-top: 50px;
   
}
#site-butn2{
 
 margin-right: 350px;
  margin-top: 100px;
}
#site-butn2 a{
  background-color: #d33c0a;
  font-size: 17px;
  padding: 25px 30px;
  border-radius: 4px;
  color: #fff;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: bold;
}


#banner_6{
  background-image: url(../IMAGE/1ff01d24-23d7-4cb1-8b19-100eddf7c24b.jfif);
  background-repeat: no-repeat;
  background-size: cover;
 padding: 200px;
 
 
}

#section_6{
  margin-top: 100px;
}
#inner_6{
  background-color: #fff9e9;
  display: flex;
  
}
#certified{
  color: #d33c0a;
    font-family: "Norican", Sans-serif !important;
    font-size: 25px;
    
}
#all_meat{
  font-size: 25px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}
#Fahrenheit_subject p{
  color: #7a7a7a;
    font-size: 16px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 90%;

}
#right_6{
  width: 100%;
  margin-left: 300px;
  margin-top: 80px;
}
#commu-main {
  margin-top: 75px;
}
#comm-inn-text {
  text-align: center;
  margin-bottom: 75px;
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#comm-inn-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
#comm-img {
  width: 30%;
}
#logo-bg-ftr {
  background: #222222 !important;
  text-align: center;
}
#logo-main {
  margin-bottom: 100px;
  padding-top: 35px; 

}
#text-inn-logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
#text-left-logo {
  flex-basis: 30%;
}
#text-middle-logo {
  flex-basis: 30%;
}
#text-right-logo {
  flex-basis: 30%;
}
#text-left-logo h1 {
  color: #ffffff;
  text-align: left;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#text-left-logo p {
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
#text-area-logo {
  width: 30%;
}
#text-middle-logo h1 {
  color: #ffffff;
  text-align: justify;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#text-middle-logo p {
  color: #ffffff;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#text-right-logo p {
  color: #ffffff;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
#text-right-logo h1 {
  color: #ffffff;
  text-align: justify;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#footer-bg {
  background-color: #d33c0a;
  opacity: 1;
  background-image: radial-gradient(#f5bd6f 0.5px, #d33c0a 0.5px);
  background-size: 10px 10px;
}
#bottom-main {
  color: #ffffff;
  text-align: justify;
  text-align: left;
  padding: 30px 0px;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px){

  #top-header-bg{
    background-color: #808080;
  }
}